:root {
  font-family: "Helvetica";
  line-height: 1.5em;
  background: white;
}


#navbar {
  position: fixed;
  background-color: lightGrey;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  grid-area: navbar;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  list-style: none;
  position: relative;
  width: 100%;
}

li a {
  display: block;
  color: #000;
  padding: 1em 2em;
  text-decoration: none;
}

li a:hover {
  background: #555;
  color: white;
}

p {
  padding: 0.25em 1em;
}

code {
  display: flex;
  padding: 0.25em 1em;
  background-color: #ede8ff;
  width: 80%;
  justify-content: center;
  align-content: center;
  margin: auto;
  line-height: 2em;
}

.wrapper {
  display: grid;
  grid-template-areas:
  "navbar content"
}


#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  grid-area: content;
}


.list-element-text {
  padding: 0.25em 1em;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.header {
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.header-nav {
  display: block;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: bold;
}

.main-section {
  padding: 1em 1em 1em 1em;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 20%;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
